<div class="section">
<app-carrusel></app-carrusel>

<div>
  <img id="separador" src="../../../assets/images/estrella.gif">
</div>
<div class="container col-sm-12 col-md-12 col-lg-12">
  <h1>Mi nombre es Maribel Aizpitarte</h1>
  <h3>y te doy la bienvenida a mi Portfolio Web realizado en Angular</h3>
  <h5>Aqui abajo encontraras las diferentes áreas donde me especializo con sus detalles</h5>


</div>
<div>
  <img id="separador" src="../../../assets/images/estrella.gif">
</div>

<app-cards></app-cards>
</div>