<div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-5">
      <div class="row mt-5">
        <div class="col p-2">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFyHmvCPuJ5FQ/profile-displayphoto-shrink_400_400/0/1619026366642?e=1665619200&v=beta&t=L8qw0hnWYRXnj4QjXwdIA610ougggZ1ya9JuibNRae8" id="perfil" class="col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col text-center p-2">
        <h5 id="titulo"class="col-sm-6 col-md-6 col-lg-6 text-center m-3 pb-2">¡¡Bienvenidos!!</h5>
        <h1 id="titulo" class="col-sm-6 col-md-6 col-lg-6 justify p-2">Soy <br> Maribel <br> Aizpitarte</h1>
      </div>
      </div>
      <div>


      </div>

    </div>
    <div class="carousel slide carousel-fade col-sm-10 col-md-6 col-lg-7 text-center align-right col"
      data-bs-ride="carousel">
      
      <div class="carousel-inner text-center align-center">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="../../../../assets/images/mendoza.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 id="texto-foto">Aconcagua - Mendoza</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../../../../assets/images/misiones.JPG" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 id="texto-foto">Cataratas del Iguazu - Misiones</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../../../../assets/images/jujuy.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 id="texto-foto">Cerro 7 colores - Jujuy</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../../../../assets/images/bariloche.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 id="texto-foto">Bariloche - Rio Negro</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../../../../assets/images/ushuaia.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 id="texto-foto">Usuahia - Tierra del Fuego</h5>
          </div>
        </div>
      </div>
    </div>
  </div>