<div class="menu card-deck row m-5">

  <a class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" href="/information">  
  <div class="card info">
    <h1 class="mb-3 h2">Personal Information</h1>
  </div></a>
</div>

<div class="menu card-deck row m-5">

  <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center" href="/education">   
  <div class="card infoedu">
    <h1 class="mb-3 h2">Education</h1>
  </div></a>

  <a class="col col-xs-12 col-sm-12 col-md-6 col-lg-6" href="/experience">   
  <div class="card infoexp">
    <h1 class="mb-3 h2">Experience</h1>
  </div></a>

</div>
<div class="menu card-deck row p-5">
  
    <a class="col-xs-12 col-sm-12 col-md-12 col-lg-4" href="/rrhh">
      <div class="card rrhh">

        <h1 class="mb-3 h2">Human Resources</h1>

        <p>
          I have more than 5 years of experience in the HR area.
          I like to guide the employee so that they have a pleasant
          experience in the company and understand the reason for each
          step of the admission process. I also love being able to help them
          with their queries and guide them.
        </p>
      </div>
    </a>

    <a class="col-xs-12 col-sm-12 col-md-12 col-lg-4" href="/dev">
      <div class="card dev">
        <h1 class="mb-3 h2">Developer</h1>

        <p>
          In 2020 I began to investigate development. <br>
          in 2021 I began to develop with the Argentina Programa plan.
          There I learned HTML, CSS, Angular and Java.
          I'm still learning, now about Python...
        </p>
      </div>
    </a>
    <a class="col-xs-12 col-sm-12 col-md-12 col-lg-4" href="/data">
      <div class="card data">
        <h1 class="mb-3 h2">Data Analytics</h1>

        <p>
          ¡¡Data is the future!! <br>
          In 2022 I started a Master in Big Data and Business Intelligence,
          the Google certification on data analysis and
          the Codo a Codo program in data science
        </p>
      </div>
    </a>
  </div>