img {
    display: block;
    margin: auto;
    
}
.row .card-body {
    padding-left: 170px;
    flex: 0 1 auto;
}
.agira {
    max-width:600px; 
    max-height:1500px; 
    width: auto; 
    height: auto;
    display: block;
    padding-left: 150px;
}
.toyo {
    max-width:400px; 
    max-height:400px; 
    width: auto; 
    height: auto;
    display: block;
    padding-left: 150px;
}