<div class="seccion">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3" id="text1">
            <h1>My name is: </h1>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 text-left">
            <img src="../../../assets/images/name.png"alt="Nombre">
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-3 col-md-3 col-lg-5 pt-50 pr-0" id="text1">
            <h1><br>I am </h1>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-7 pt-5 pl-0">
            <h1><img src="../../../assets/images/30.png" height="100px"alt="30"> years old</h1>
        </div>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-sm-3 col-md-4 col-lg-2 pt-5" id="text1">
            <h2>I am from </h2>
        </div>
        <div class="col-sm-9 col-md-8 col-lg-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25537.780254548077!2d-57.88560965!3d-36.86109195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959a397de634d13d%3A0xd0f0b292911ed28a!2sMaip%C3%BA%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1660322889289!5m2!1ses!2sar" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-3 pt-5 text-center">
            <h2>but, now <br> I am living in</h2>
        </div>
        <div class="col-sm-9 col-md-8 col-lg-5">
            <img src="../../../assets/images/mdp.jpg"width="500" height="200"alt="Mdp">
        </div>
    </div>

    <br> 
    <div>
        <img id="separador" src="../../../assets/images/estrella.gif"alt="separador">
      </div>
    <br>

    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-2" id="text1">
            <h1>I love ♥ <br> Running </h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <img src="../../../assets/images/running.jpg" height="300px"alt="Running">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <h1>and Cats </h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <img src="../../../assets/images/cats.png" height="300px"alt="Gatitos">
        </div>
    </div>

    <div class="row text-center">
        <h2 class="travel">And travel</h2>
    </div>