<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="titulo text-center col-xs-12 col-sm-12 col-md-8 col-lg-2">
        <a href="/inicio">
          <h6>Maribel Aizpitarte</h6>
        </a>
      </div>
      
      <div class="objetos col-xs-12">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/rrhh">
              <button class="botonnav">
                Human Resources
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dev">
              <button class="botonnav">
                Developer
              </button>
            </a>
          </li>          
          <li class="nav-item">
            <a href="/data">
              <button class="botonnav">
                Data Analytics
              </button>
            </a>
          </li>
        </ul>

      </div>

      <div class="botones col-xs-12 col-sm-12 col-md-4 col-lg-2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/maribelaizpitarte/">
              <button><img src="../../../assets/images/linkedin.png"id="logo" alt="Linkedin"></button>
            </a></li>
          <li class="nav-item">
            <a href="https://api.whatsapp.com/send?phone=542236923412">
              <button><img src="../../../assets/images/whatsapp.png"id="logo" alt="Whatsapp"></button>
            </a></li>
          <li class="nav-item">
            <a href="mailto:maribelaizpitarte@gmail.com?Subject=Interesado%20en%20tu%20perfil">
              <button><img src="../../../assets/images/mail.png"id="logo" alt="Mail"></button>
          </a></li>
        </ul>
      </div>
    </div>
  </nav>