a{
    text-decoration: none !important;
}
h3 {
    color: white;
}
.cardc {
    border: 2px solid white;
    border-radius: 30px;
    padding: 13px
}
.tarjeta {
    border: 2px solid;
    text-decoration: none;
    text-align: center;
    color: white;
    
}