<div class="seccion">
    <div>
        <h1 class="title text-center">Data Education</h1>

        <div class="row">
            <img class="col-sm-3 col-md-3 col-lg-3 col pt-3" src="https://eneb.es/fotos/logo.png" height="80px" width="300px" >
            <div class="card-body col-sm-9 col-md-9 col-lg-9 col pl-5">
              <h3 class="card-title">Master in Big Data and Business Intelligence</h3>
              <h5 class="card-text">Escuela de Negocios Europea de Barcelona</h5>
              <p class="card-text">August 2022 to present</p>
            </div>
        </div>

        <div class="row">
            <img class="col-sm-3 col-md-3 col-lg-3 col pt-3" src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg" height="100px" width="300px" >
            <div class="card-body col-sm-9 col-md-9 col-lg-9 col pl-5">
              <h3 class="card-title">Degree in Business Administration</h3>
              <h5 class="card-text">Universidad Nacional de Mar del Plata</h5>
              <p class="card-text">March 2010 to July 2018</p>
            </div>
        </div>
    </div>

    <br> 
    <div>
        <img id="separador" src="../../../assets/images/estrella.gif">
      </div>
    <br>

    <div class="row p-5">
        <h2 class="text-center pb-5">Courses in progress</h2>

        <div class="tarjeta col-sm-12 col-md-12 col-lg-6">
            <h3>Course</h3>
            <a href="https://www.coursera.org/programs/grow-with-google-wmruk?currentTab=MY_COURSES&productId=hXUHfDgkEeylXgqHwJpmyQ&productType=s12n&showMiniModal=true">
                <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-university-assets.s3.amazonaws.com/bf/20708747534c1abece5a2da65255c1/logo_Google_Reverse_516x170px.svg?auto=format%2Ccompress&dpr=1&h=70&fit=max"height="100px">
            </a>
            <h3>Certificate Data Analytics</h3>
            <h5>Data Analytics en todo su esplendor</h5>
        </div>

        <div class="tarjeta col-sm-12 col-md-12 col-lg-6">
            <h3>Course</h3>
            <a href="https://www.buenosaires.gob.ar/educacion/codocodo/el-programa">
                <img src="https://codoacodo.bue.edu.ar/images/logocodoacodo.png"height="100px">
            </a>
            <h3>Data Scientist</h3>
            <h5>Cientifico de datos</h5>
        </div>
   </div>

   <br> 
   <div>
       <img id="separador" src="../../../assets/images/estrella.gif">
     </div>
   <br>

    <div>
        <h1 class="title text-center">Data Certificates</h1>
        <div class="name p-5 text-center">
            <div class="row ">
                <a href="https://drive.google.com/file/d/1fNzpU67bWsX9h082mlPrxdGVWrifkcJR/view?usp=sharing" class="cardc col-sm-12 col-md-12 col-lg-4 col pt-3">
                    <img src="https://www.mdp.edu.ar/templates/unmdp/img/logoUNMDP.svg" height="100px" width="300px" >
                    <h3>Licenciada en Administracion</h3>
                </a> 
                <a href="https://drive.google.com/file/d/1lAmaTglzgKSGiAXqd8-egozMrtn_M_36/view?usp=sharing" class="cardc col-sm-12 col-md-12 col-lg-4 col pt-3">
                    <img src="https://www.fundaciontelefonica.com.ar/wp-content/uploads/2020/08/Logo-FTM-Arg.png" height="100px" width="300px" >
                    <h3>Fundamentos de Big Data</h3>
                </a>
                <a href="https://drive.google.com/file/d/1mqT87FlSvbV-VxQ-5d3sNjK1Shy2eQCQ/view?usp=sharing" class="cardc col-sm-12 col-md-12 col-lg-4 col pt-3">
                    <img src="https://d3ekkp2oigezer.cloudfront.net/business/95/images/logo_604ff03e8975b_medium.png" height="100px" width="300px" >
                    <h3>Power BI</h3>
                </a>
        </div>

    </div>
    <br> 
    <div>
        <img id="separador" src="../../../assets/images/estrella.gif">
      </div>
    <br>
    <div>
        <h1 class="title text-center">Projects</h1>

    </div>
</div>